.partners {
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.partners .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}
.partners .swiper-container {
  padding-bottom: 4rem;
}

.partners .swiper-pagination-bullet {
  background: rgba(142, 143, 145, 0.36);
  width: 18px;
  height: 5px;
  border-radius: 25px;
  opacity: 0.6;
}
.partners .swiper-pagination-bullet-active {
  background: #386ee1;
  width: 23px;
  height: 6px;
  opacity: 1.5;
}

.partners__subtitle {
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #53dd89;
}

.partners__title {
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #011f3b;
  padding: 1.3rem 0 3rem 0;
}

.partners__logo {
  max-width: 90%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .partners {
    margin-top: 4rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 470px) {
  .partners__card {
    text-align: center;
  }
  .partners__logo {
    max-width: 100%;
  }
}
